<div class="b-text__block b-text__block-{{ block.id }}">
  {{ block.settings.text }}
</div>

<style>
  .b-text__block-{{ block.id }} {
    text-align: {{ block.settings.alignment }};
    color: {{ block.settings.text_color }};
    font-size: {{ block.settings.font_size_desktop }}px;
    line-height: {{ block.settings.line_height }}; 
  }

  @media (max-width: 767px) {
    .b-text__block-{{ block.id }} {
      text-align: {{ block.settings.alignment_mobile }};
      font-size: {{ block.settings.font_size_mobile }}px;
    }
  }
</style>

{% schema %}
{
  "name": "CTR Text",
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "range",
      "id": "font_size_desktop",
      "label": "Font Size Desktop",
      "default": 16,
      "min": 8,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "font_size_mobile",
      "label": "Font Size Mobile",
      "default": 14,
      "min": 8,
      "max": 100,
      "step": 1
    },
    {
      "type": "number",
      "id": "line_height",
      "label": "Line Height",
      "default": 1,
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "Alignment"
    },
    {
      "type": "text_alignment",
      "id": "alignment_mobile",
      "label": "Alignment Mobile"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#1C4C62"
    },
  ],
  "presets": [
    { "name": "CTR Text" },
    {
      "name": "Content",
      "settings": {
        "text": "<p>Hello, world!</p>"
      }
    }
  ]
}
{% endschema %}
